<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/ajax.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>

     <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
	  #welcome_msg {
		  color: #fff;
		  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		  font-weight: bold;
		  padding-top: 5px; 
	  }
    #profile_thumbnail {
      border-radius: 50%;
      height: 2.7em;
      width: 2.7em;
      margin-right: 1.0em;
    }
    li a{
      text-decoration: none;
      color: #000;
      font-weight: bold;
      font-family: sans-serif;
      margin: 2em;
    }
    li a:hover{
      text-decoration: none;
      color: #43C5F3;
      font-weight: bold;
      font-family: sans-serif;
    }
    .dropdown {
      margin-left: 2em;
    }
    .dropdown:hover>.dropdown-menu {
      display: block;
    }
    h5 a {
      color: #000;
      margin-right: 1em;
    }
    h5 a:hover{
      text-decoration: none;
      font-weight: bold;
      color: #000;
    }
    </style>
    </head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light">
		 <h5 class="header"><a href="/">Camagru</a></h5>
     {{#if user}}
    <span><a href="/cam"><img src="https://img.icons8.com/wired/50/000000/instagram.png"></a></span>
   
   <div class="dropdown bg-light">
    <span class="dropdown-toggle" id="menu1" data-toggle="dropdown"><img id="profile_thumbnail" src="https://cdn.vox-cdn.com/thumbor/JBJzwCXmTJs0NgnFtSPm_f5SMyw=/0x0:2000x1000/1200x800/filters:focal(654x138:974x458)/cdn.vox-cdn.com/uploads/chorus_image/image/59408999/Thanos_MCU.0.jpg" alt="Thanos">
    </span>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/profile">{{user.name}}</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/users/logout">Sign out</a></li>
    </ul>
  </div>
      <!-- <a id="signout" class="btn btn-outline-success my-2 my-sm-0" href="/users/logout">Sign out</a> -->
     {{else}}
      <a class="btn btn-outline-success my-2 my-sm-0" href="/users/login">Sign in</a>
      <a class="btn btn-outline-success my-2 my-sm-0" href="/users/register">Sign up</a>
      <a class="btn btn-outline-success my-2 my-sm-0" href="/auth/google"><i class="fab fa-google-plus-g"></i>Google</a>
    {{/if}}
	</nav>

<main role="main">
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <h2>Camagru-v2</h2>
        {{{body}}}
{{!-- 
		{{#if success_msg}}
				<div class="alert alert-success"> {{success_msg}} </div>
		{{/if}}
        
		{{#if error_msg}}
			<div class="alert alert-danger"> {{error_msg}} </div>
		{{/if}}

		{{#if error}}
			<div class="alert alert-danger"> {{error}} </div>
		{{/if}} --}}

		  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
      </div>
    </div>
    <hr>
  </div> <!-- /container -->
</main>

<footer class="container">
  <p>&copy; Camagru-v2</p>
</footer>

<script>
  $(document).ready(function(){
    $(".dropdown-toggle").dropdown();
  });
</script>
</body>
</html>