<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
     <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
	  #welcome_msg {
		  color: #fff;
		  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		  font-weight: bold;
		  padding-top: 5px; 
	  }
	  #signout {
		  float: right !important;
		  
	  }
    </style>
    </head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		 <a class="navbar-brand" href="/">Camagru</a>
     {{#if user}}
	 <p id="welcome_msg">Welcome {{user.name}} </p>
      <a id="signout" class="btn btn-outline-success my-2 my-sm-0" href="/users/logout">Sign out</a>
     {{else}}
      <a class="btn btn-outline-success my-2 my-sm-0" href="/users/login">Sign in</a>
      <a class="btn btn-outline-success my-2 my-sm-0" href="/users/register">Sign up</a>
      {{!-- <a class="google-btn" href="/auth/google">Google+</a> --}}
	    <div id="my-signin2"></div>
    {{/if}}
	</nav>

<main role="main">
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <h2>Camagru-v2</h2>
		{{!-- {{#if success_msg}}
				<div class="alert alert-success"> {{success_msg}} </div>
		{{/if}}
        
		{{#if error_msg}}
			<div class="alert alert-danger"> {{error_msg}} </div>
		{{/if}}

		{{#if error}}
			<div class="alert alert-danger"> {{error}} </div>
		{{/if}} --}}

        {{{body}}}
		  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
      </div>
    </div>
    <hr>
  </div> <!-- /container -->
</main>

<footer class="container">
  <p>&copy; Camagru-v2</p>
</footer>

</body>
</html>